# ignore everything
*

# whitelist any directory
!*/

# ignore certain directory
/test/
/out/
/voicedata/
/__pycache__/

# all filetypes I'm interested in
!.gitignore
!*.py
!*.cpp
!*.sh
!*.ipynb
!*.md
!*.ini

.ipynb_checkpoints
